<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<root xmlns="http://www.infineon.com/BifacesConfig"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.infineon.com/BifacesConfig BifacesConfig.xsd ">
	
	<!-- Primary architecture configuration -->
	<primaryArchitecture name= "Tricore" />
	
	<!-- Architecture congfigurations -->
	<architecture name="Tricore" primaryToolchain= "Gnuc">
		<!-- Target congfigurations -->
		<target name="Tc" enable="true">
			<output type="elf" enable="true" fileName="$(PROJ_NAME)_tc.elf" tool="Ld"/>
			<output type="hex" enable="true" fileName="$(PROJ_NAME)_tc.hex" tool="Hex">
				<input siblingTypes= "elf" useObjects="false" />
			</output>
			<output type="srec" enable="false" fileName="$(PROJ_NAME)_tc.srec" tool="Srec">
				<input siblingTypes= "elf" useObjects="false" />
			</output>
			<output type="lib" enable="false" fileName="$(PROJ_NAME)_tc.a" tool="Ar"></output>
		</target>

		<!-- Toolchain configurations -->
		<toolchain name="Gnuc" enable="true" path="$(B_GNUC_TRICORE_PATH)\bin" 
					configFolder= "$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Gnuc"
					configFiles= "1_ToolEnv/0_Build/1_Config/Config.mk, Config_Gnuc.mk">
			<tool name="Cc" type="COMPILER" command="tricore-gcc">
				<optionSet id="Common">$(B_GNUC_TRICORE_CC_OPTIONS)</optionSet>
				<argument template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="Cc1" type="OTHER" path="$(B_GNUC_TRICORE_PATH)/bin" command="tricore-gcc" > <!-- This is required for generated c files -->
				<optionSet id="Common">$(B_GNUC_TRICORE_CC_OPTIONS)</optionSet>
				<argument template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -save-temps=obj -MMD" />
			</tool>
			<tool name="As"  type="ASSEMBLER" command="tricore-gcc" >
				<optionSet id="Common">$(B_GNUC_TRICORE_ASM_OPTIONS)</optionSet>
				<argument template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@" />
			</tool>
			<tool name="Ld" type="LINKER" command="tricore-gcc" >
				<optionSet id="Common">$(B_GNUC_TRICORE_LD_OPTIONS)</optionSet>
				<argument template="@{kw:objfiles_listfile} {kw:custobjfiles} $(B_GNUC_TRICORE_LIB_INC) $(B_GNUC_TRICORE_LIBS) -o $@" />
				<argument template="{kw:options} -Wl,-T {kw:linkerfile} -Wl,-Map={kw:mapfile} -Wl,--extmap=a" />
			</tool>
			<tool name="Hex" type="OTHER" command="tricore-objcopy" >
				<argument template="${kw:lt} -O ihex $@" />
			</tool>
			<tool name="Srec" type="OTHER" command="tricore-objcopy" >
				<argument template="${kw:lt} -O srec $@" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="tricore-ar" >
				<argument template="rcs $@ @{kw:objfiles_listfile}" />
			</tool>
		</toolchain>
		<toolchain name="Tasking" enable="true"
			path="$(B_TASKING_TRICORE_PATH)\bin"
			configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Tasking"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Tasking.mk">
			<tool name="Cc" type="COMPILER" command="ctc"
				nextTools="As1, DepConv">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="-o $(@:.o=.src) ${kw:lt} --dep-file=$(@:.o=.dep) {kw:options}" />
				<argument template="-f {kw:incpaths_listfile}" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="astc"
				nextTools="DepConv">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="-o $@ ${kw:lt} --dep-file=$(@:.o=.d) {kw:options} -f {kw:incpaths_listfile}" />
			</tool>
			<tool name="Cc1" type="OTHER" command="ctc"
				nextTools="As1">
				<!-- This is required for generated c files -->
				<optionSet id="Common">
					$(B_TASKING_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="-o $(@:.o=.src) $(@:.o=.c) {kw:options}" />
				<argument template="-f {kw:incpaths_listfile}" />
			</tool>
			<tool name="As1" type="OTHER" command="astc"><!-- This is required for generated c files -->
				<optionSet id="Common">
					$(B_TASKING_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument template="-o $@ $(@:.o=.src) {kw:options}" />
			</tool>
			<tool name="DepConv" type="OTHER" command="sed" path=" ">
				<argument
					template="-e 's/\($(subst .,\.,$(@F)) *:\)/$(subst /,\/,$(@D))\/\\1/g' -e 's/\\\/\//g' -e '/\\{kw:dq}/d' $(@:.o=.dep)"
					index="0" />
				<argument
					template="{kw:gt} $(@:.o=.d) ; rm -f $(@:.o=.dep)"
					index="1" />
			</tool>
			<tool name="Ld" type="LINKER" command="ltc">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_TRICORE_LIB_INC) $(B_TASKING_TRICORE_LIBS) -o $@:elf {kw:options} --map-file --lsl-file={kw:linkerfile}" />
			</tool>
			<tool name="Hex" type="OTHER" command="ltc">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_TRICORE_LIB_INC) $(B_TASKING_TRICORE_LIBS) -o $@:IHEX {kw:options} --lsl-file={kw:linkerfile}" />
			</tool>
			<tool name="Srec" type="OTHER" command="ltc">
				<optionSet id="Common">
					$(B_TASKING_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="-f {kw:objfiles_listfile} {kw:custobjfiles} $(B_TASKING_TRICORE_LIB_INC) $(B_TASKING_TRICORE_LIBS) -o $@:SREC {kw:options} --lsl-file={kw:linkerfile}" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="artc">
				<argument template="-rc $@ -f {kw:objfiles_listfile}" />
			</tool>
		</toolchain>
		<toolchain name="Dcc" enable="true"
			path="$(B_DCC_TRICORE_PATH)/bin" configFolder="$(B_CONFIG_FILES_FOLDER)/Config_Tricore_Dcc"
			configFiles="1_ToolEnv/0_Build/1_Config/Config.mk, Config_Dcc.mk">
			<tool name="Cc" type="COMPILER" command="dcc">
				<optionSet id="Common">
					$(B_DCC_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c ${kw:lt} -o $@ -Xmake-dependency=4 -Xmake-dependency-savefile=$(@:.o=.d)" />
			</tool>
			<tool name="Cc1" type="OTHER" command="dcc">
				<optionSet id="Common">
					$(B_DCC_TRICORE_CC_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -c $(@:.o=.c) -o $@ -Xmake-dependency=4 -Xmake-dependency-savefile=$(@:.o=.d)" />
			</tool>
			<tool name="As" type="ASSEMBLER" command="das">
				<optionSet id="Common">
					$(B_DCC_TRICORE_ASM_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} @{kw:incpaths_listfile} -o $@ -Xmake-dependency=4 -Xmake-dependency-savefile=$(@:.o=.d) ${kw:lt}" />
			</tool>
			<tool name="Ld" type="LINKER" command="dld">
				<optionSet id="Common">
					$(B_DCC_TRICORE_LD_OPTIONS)
				</optionSet>
				<argument
					template="{kw:options} -m6 {kw:linkerfile} -@O={kw:mapfile} -o $@ @{kw:objfiles_listfile} {kw:custobjfiles} $(B_DCC_TRICORE_LIBS) $(B_DCC_TRICORE_LIB_INC)" />
			</tool>
			<tool name="Hex" type="OTHER" command="ddump">
				<argument template="-R -o $@ ${kw:lt}" />
			</tool>
			<tool name="Srec" type="OTHER" command="ddump">
				<argument template="-R -o $@ ${kw:lt}" />
			</tool>
			<tool name="Ar" type="ARCHIVER" command="dar">
				<argument
					template="-rc $@ @{kw:objfiles_listfile} {kw:custobjfiles}" />
			</tool>
		</toolchain>
	</architecture>
	
	<!-- Toolchain configurations -->
	<selection>
		<variant rootPaths="*/Main" branches ="Release"/>
	</selection>
	
	<specificInclude internalPaths= "*/Sfr/*, */BaseSw/*/Tricore, */BaseSw/*/Platform, */BaseSw/*/CpuGeneric, */CDrv/Tricore"  />
</root>
