/src/_MyBaseFramework_TC23A/2_Out/Tricore_Gnuc
/src/_MyBaseFramework_TC23A/1_ToolEnv/0_Build/9_Make

/src/_MyiLLDFramework_TC23A/2_Out/Tricore_Gnuc
/src/_MyiLLDFramework_TC23A/1_ToolEnv/0_Build/9_Make

/src/MyPort_TC23A/2_Out/Tricore_Gnuc
/src/MyPort_TC23A/1_ToolEnv/0_Build/9_Make

/src/MyStm_TC23A/2_Out/Tricore_Gnuc
/src/MyStm_TC23A/1_ToolEnv/0_Build/9_Make

/src/InfineonRacer_TC23A/2_Out/Tricore_Gnuc
/src/InfineonRacer_TC23A/1_ToolEnv/0_Build/9_Make

/src/InfineonRacer_TC23xA/2_Out/Gnuc/0_Src
/src/InfineonRacer_TC23xA/1_ToolEnv/0_Build/9_Make

/src/matlab/work
*.autosave